@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
            }

p {
    text-align: justify;
    color: #0a2b27;
}

h1 {
    text-align: center;
    color: #10403B;
    text-shadow: 1px 1px 2px rgba(0, 183, 255, 0.664);
}
h2 {
    text-align: center;
    color: #127369;
}

body{
    background-image: linear-gradient(to bottom, #BFBFBF, #8AA6A3);
    background-attachment: fixed;
        }

main{
    background-color: azure;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.341);
    width: 600px;
    padding: 10px;
    margin: auto;
}